<a href="https://colab.research.google.com/github/KarelCouceiro/Data_Monitor/blob/main/LLM_runpod_Example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import json

In [ ]:
url = "https://api.runpod.ai/v2/1e7880bd8ki4ks/runsync"

payload = json.dumps({
  "input": {
    "prompt": "<<SYS>>You are a helpful, respectful and honest assistant. Always answer as helpfully as possible. If you don't know the answer to a question, please don't share false information.<</SYS>>[INST]User: How to write in SQL the merge sort algorithm in Teradata[/INST]",
    "max_new_tokens": 2500,
    "temperature": 0.9,
    "top_k": 50,
    "top_p": 0.7,
    "repetition_penalty": 1.2,
    "batch_size": 8,
    "stop": [
      "</s>"
    ]
  }
})
headers = {
  'Content-Type': 'application/json',
  'Authorization': 'Bearer ULLKF1WNY5Y8Z5FU4MGACHBBQSPESHXDOEOMBBW7'
}

response = requests.request("POST", url, headers=headers, data=payload)

response_text = json.loads(response.text)

print(response_text['output'])

  Merge sorting is not a built-in function in Teradata, but it can be implemented using a combination of common table expressions (CTEs) and window functions. Here's an example of how you could implement a merge sort algorithm in Teradata:

1. Define a CTE to hold the left and right halves of the sorted data:
```sql
WITH LEFT_HALF AS (
    SELECT * FROM TABLE_NAME WHERE COLUMN_NAME = 'left_value'
), RIGHT_HALVE AS (
    SELECT * FROM TABLE_NAME WHERE COLUMN_NAME = 'right_value'
)
SELECT * INTO SORTED_TABLE FROM LEFT_HALF
MERGE JOIN RIGHT_HALVE ON LEFT_HALVE.COLUMN_NAME = RIGHT_HALVE.COLUMN_NAME;
```
In this example, `LEFT_HALF` and `RIGHT_HALVE` are CTEs that hold the left and right halves of the sorted data, respectively. The `MERGE JOIN` clause combines the two CTEs based on the specified column name, effectively merging the two halves into a single sorted table.

2. Implement the merge sort logic within the CTEs:
```sql
WITH LEFT_HALF AS (
    SELECT * FROM TABLE_NAME WHERE COLUMN_NAME = 'left_value'
), RIGHT_HALVE AS (
    SELECT * FROM TABLE_NAME WHERE COLUMN_NAME = 'right_value'
)
SELECT * INTO SORTED_TABLE FROM LEFT_HALF
ORDER BY COLUMN_NAME;

IF ODD(COUNT(*) - 1) THEN
    INSERT INTO RIGHT_HALVE (SELECT * FROM LEFT_HALVE ORDER BY COLUMN_NAME);
    LEFT_HALVE = CONCAT('LEFT', LEFT_HALVE);
ELSE IF EVEN(COUNT(*) - 1) THEN
    INSERT INTO LEFT_HALVE (SELECT * FROM RIGHT_HALVE ORDER BY COLUMN_NAME);
    RIGHT_HALVE = CONCAT('RIGHT', RIGHT_HALVE);
END IF;
```
In this example, the `ODD` and `EVEN` functions are used to determine whether the number of rows in the current half is odd or even. If the number of rows is odd, the `INSERT` statement inserts the rows from the other half into the current half, and the `CONCAT` function concatenates the two halves into a single sorted table. If the number of rows is even, the process is repeated for the other half.

3. Repeat steps 1-2 until the desired level of sorting is achieved:
```sql
WITH LEFT_HALF AS (
    SELECT * FROM TABLE_NAME WHERE COLUMN_NAME = 'left_value'
), RIGHT_HALVE AS (
    SELECT * FROM TABLE_NAME WHERE COLUMN_NAME = 'right_value'
)
SELECT * INTO SORTED_TABLE FROM LEFT_HALVE
ORDER BY COLUMN_NAME;

IF ODD(COUNT(*) - 1) THEN
    INSERT INTO RIGHT_HALVE (SELECT * FROM LEFT_HALVE ORDER BY COLUMN_NAME);
    LEFT_HALVE = CONCAT('LEFT', LEFT_HALVE);
ELSE IF EVEN(COUNT(*) - 1) THEN
    INSERT INTO LEFT_HALVE (SELECT * FROM RIGHT_HALVE ORDER BY COLUMN_NAME);
    RIGHT_HALVE = CONCAT('RIGHT', RIGHT_HALVE);
END IF;

REPEAT UNTIL COUNT(*) = 0;
```
In this example, the process is repeated until the desired level of sorting is achieved, as indicated by the `UNTIL` clause. The `COUNT(*)` function is used to check whether there are any remaining rows to sort.

Note that this implementation assumes that the `COLUMN_NAME` value is constant for all rows in the table. If this is not the case, you may need to modify the CTEs and merge join clause accordingly. Additionally, this implementation does not handle edge cases such as an empty left or right half, which may require additional logic to handle correctly.

In [ ]:
payload = json.dumps({
  "input": {
    "prompt": "<<SYS>>You are an expert matter communicatiing with SQL developers at advance level of abstraction<</SYS>>[INST]User: How to write in SQL the merge sort algorithm in Teradata[/INST]",
    "max_new_tokens": 10000,
    "temperature": 0.9,
    "top_k": 50,
    "top_p": 0.7,
    "repetition_penalty": 1.2,
    "batch_size": 8,
    "stop": [
      "</s>"
    ]
  }
})

In [ ]:
response = requests.request("POST", url, headers=headers, data=payload)

response_text = json.loads(response.text)

print(response_text['output'])

  As an expert matter communicator, I'll provide a high-level overview of how to implement the merge sort algorithm in SQL for Teradata. Please note that this is not a comprehensive implementation, but rather a simplified example to illustrate the basic principles.

1. Define the tables and columns:
Create two temporary tables, `tab1` and `tab2`, with the same schema as your original table. These tables will be used to store the left and right halves of the sorted data during the merge process.
```sql
CREATE TEMPORARY TABLE tab1 (
    id INT PRIMARY KEY,
    column1 VARCHAR(50),
    column2 DATE,
    -- Add any other relevant columns here
);

CREATE TEMPORARY TABLE tab2 (
    id INT PRIMARY KEY,
    column1 VARCHAR(50),
    column2 DATE,
    -- Add any other relevant columns here
);
```
2. Split the input table into two halves:
Write a query to split the original table into two equal parts based on some criteria (e.g., column value). For example:
```sql
SELECT * FROM mytable WHERE column = 'value1' INTO tab1;
SELECT * FROM mytable WHERE column = 'value2' INTO tab2;
```
3. Merge the two halves:
Write a series of queries to merge the two halves into a single, sorted table. The basic idea is to compare rows from the two halves and place the smaller one in the correct position in the final table. Here's an example of how to do this using a self-join:
```sql
-- Step 1: Sort the two halves by the comparison column
SELECT * FROM tab1 ORDER BY column1;
SELECT * FROM tab2 ORDER BY column1;

-- Step 2: Self-join the two sorted tables
SELECT t1.*, t2.*, ROW_NUMBER() OVER (ORDER BY column1) AS row_num
FROM tab1 t1
JOIN tab2 t2 ON t1.column1 = t2.column1;

-- Step 3: Drop the redundant columns and sort the final table
SELECT * FROM (
    SELECT t1.*, t2.*, ROW_NUMBER() OVER (ORDER BY column1) AS row_num
    FROM tab1 t1
    JOIN tab2 t2 ON t1.column1 = t2.column1
)
WHERE row_num = 1;
```
4. Clean up:
Drop the temporary tables `tab1` and `tab2`.
```sql
DROP TABLE tab1;
DROP TABLE tab2;
```
This is just a high-level overview of how to implement the merge sort algorithm in SQL for Teradata. Depending on your specific use case, you may need to modify the query or add additional steps. However, this should give you a good starting point for understanding the basic principles of the merge sort algorithm in SQL.

In [ ]:
def replace_question(question, system):
    payload = {
        "input": {
            "prompt": "<<SYS>>{{SYSTEM}}<</SYS>>[INST]User: {{QUESTION}}[/INST]",
            "max_new_tokens": 10000,
            "temperature": 0.9,
            "top_k": 50,
            "top_p": 0.7,
            "repetition_penalty": 1.2,
            "batch_size": 8,
            "stop": [
                "</s>"
            ]
        }
    }

    payload["input"]["prompt"] = payload["input"]["prompt"].replace("{{QUESTION}}", question).replace("{{SYSTEM}}", system)
    json_payload = json.dumps(payload)
    return json_payload

In [ ]:
sys = "You are an expert which can provide a summary in English in three bullet point with emojis ilustrating the main ideas"
quest = '''Do you want to gain a deeper understanding of your models and better mitigate poor prediction risks
associated with machine learning interpretation? If so, then Interpretable Machine Learning with Python deserves a
place on your bookshelf.We'll be starting off with the fundamentals of interpretability, its relevance in business,
and exploring its key aspects and challenges. As you progress through the chapters, you'll then focus on how white-box models work,
compare them to black-box and glass-box models, and examine their trade-off. You'll also get you up to speed with a vast array of interpretation methods,
also known as Explainable AI (XAI) methods, and how to apply them to different use cases, be it for classification or regression, for tabular, time-series,
image or text. In addition to the step-by-step code, this book will also help you interpret model outcomes using examples. You'll get hands-on with tuning
models and training data for interpretability by reducing complexity, mitigating bias, placing guardrails, and enhancing reliability.
The methods you'll explore here range from state-of-the-art feature selection and dataset debiasing methods to monotonic constraints and adversarial retraining.
By the end of this book, you'll be able to understand ML models better and enhance them through interpretability tuning.'''

In [ ]:
response = requests.request("POST", url, headers=headers, data=replace_question(question=quest, system=sys))

response_text = json.loads(response.text)

print(response_text['output'])

  Sure! Here is a summary of the book "Interpretable Machine Learning with Python" in three bullet points with emojis illustrating the main ideas:

üîç Understand the Fundamentals of Interpretability: The book covers the importance of interpretability in machine learning, including its relevance in business and the key aspects and challenges of interpreting models.

üí° Explore Explainable AI Methods: The book provides a comprehensive overview of various explanation methods, such as feature importance, partial dependence plots, and SHAP values, and shows how to apply these methods to different types of datasets and use cases.

üìä Tune Models for Interpretability: The book teaches readers how to tune their models for interpretability by reducing complexity, mitigating bias, placing guardrails, and enhancing reliability. This includes techniques such as feature selection, dataset debiasing, and adversarial retraining. By the end of the book, readers will have a deeper understanding of their models and be able to make more informed decisions based on their predictions.

In [21]:
quest ='''Select Table1.UID
FROM Table1 R

INNER JOIN Table2 T ON
R.UID = T.UID

INNER JOIN Table3 E ON
T.PARENT = E.PARENT
AND E.UID NOT IN (SELECT UID FROM Table1)'''

sys = "You are an expert SQL developer which produce optimized SQL queries"

In [22]:
response = requests.request("POST", url, headers=headers, data=replace_question(question=quest, system=sys))

response_text = json.loads(response.text)

print(response_text['output'])

  Your query is almost optimal, but there are a few things you could do to improve it further:

1. Use explicit joins instead of using the comma-separated list of tables in the FROM clause. This can make the query easier to read and maintain.
2. Use meaningful table aliases for the joins to make the query more readable. For example, you could use `t` for `Table2`, `e` for `Table3`, and `r` for `Table1`.
3. Use the `JOIN` keyword instead of the `,` operator to separate the joins. This can make the query more readable and reduce the risk of errors.
4. Use the `LEFT JOIN` keyword instead of the `INNER JOIN` keyword if you want to include all rows from `Table1` and `Table2`, even if there are no matching rows in `Table3`.
5. Use the `IS NOT NULL` predicate instead of the `NOT IN` clause to filter out the `UID` values that exist in `Table1`. This can be more efficient and avoids the need to perform a subquery.
6. Consider adding an index on the `UID` column in `Table1` and `Table2` to speed up the query.
7. Consider using a more specific join condition instead of the `AND` clause with multiple conditions. For example, you could use `T.UID = R.UID AND E.UID = R.UID` to avoid joining tables that have no matching rows.
8. Consider using a more specific filter condition instead of the `AND` clause with multiple conditions. For example, you could use `E.UID IS NOT NULL` to filter out the `UID` values that exist in `Table1`.

Here's the optimized version of your query:
```sql
SELECT t1.UID
FROM Table1 t1
INNER JOIN Table2 t2 ON t1.UID = t2.UID
INNER JOIN Table3 e ON t2.PARENT = e.PARENT AND e.UID IS NOT NULL;
```