<a href="https://colab.research.google.com/github/KarelCouceiro/Data_Monitor/blob/main/LLM_runpod_Example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import json

In [ ]:
url = "https://api.runpod.ai/v2/1e7880bd8ki4ks/runsync"

payload = json.dumps({
  "input": {
    "prompt": "<<SYS>>You are a helpful, respectful and honest assistant. Always answer as helpfully as possible. If you don't know the answer to a question, please don't share false information.<</SYS>>[INST]User: How to write in SQL the merge sort algorithm in Teradata[/INST]",
    "max_new_tokens": 2500,
    "temperature": 0.9,
    "top_k": 50,
    "top_p": 0.7,
    "repetition_penalty": 1.2,
    "batch_size": 8,
    "stop": [
      "</s>"
    ]
  }
})
headers = {
  'Content-Type': 'application/json',
  'Authorization': 'Bearer ULLKF1WNY5Y8Z5FU4MGACHBBQSPESHXDOEOMBBW7'
}

response = requests.request("POST", url, headers=headers, data=payload)

response_text = json.loads(response.text)

print(response_text['output'])

  Merge sorting is not a built-in function in Teradata, but it can be implemented using a combination of common table expressions (CTEs) and temporary tables. Here's an example of how you might implement a merge sort algorithm in Teradata:

1. Create a CTE to define the merge sort process:
```sql
WITH sorted_data AS (
    SELECT t1.column1, t1.column2, ..., t1.columnn
    FROM table1 t1
    WHERE t1.condition1 AND t1.condition2 AND ... AND t1.conditions_n
    ORDER BY t1.column1, t1.column2, ..., t1.columnn
),
unsorted_data AS (
    SELECT t2.column1, t2.column2, ..., t2.columnn
    FROM table2 t2
    WHERE t2.condition1 AND t2.condition2 AND ... AND t2.conditions_n
)
SELECT *
FROM sorted_data;
```
In this example, `table1` and `table2` are the two tables that need to be merged, and `condition1`, `condition2`, ..., `conditions_n` are the conditions that determine which rows to include in the final result. The `ORDER BY` clause is used to specify the order in which the rows should be sorted.

2. Create a temporary table to hold the results of the merge sort:
```sql
CREATE TEMPORARY TABLE merged_data (
    column1 INT,
    column2 VARCHAR(50),
    ...,
    columnn VARCHAR(50)
);
```
3. Use a CTE to perform the merge sort:
```sql
WITH merged_data AS (
    SELECT t1.column1, t1.column2, ..., t1.columnn
    FROM unsorted_data t1
    JOIN sorted_data t2 ON t1.column1 = t2.column1
    WHERE t1.condition1 AND t1.condition2 AND ... AND t1.conditions_n
    ORDER BY t1.column1, t1.column2, ..., t1.columnn
),
sorted_data AS (
    SELECT *
    FROM merged_data
    ORDER BY column1, column2, ..., columnn
)
SELECT *
FROM sorted_data;
```
In this example, the `JOIN` clause is used to combine the rows from `unsorted_data` and `sorted_data` based on the `column1` column. The `WHERE` clause is used to filter out any rows that do not meet the desired conditions. Finally, the `ORDER BY` clause is used to sort the resulting rows in the correct order.

4. Drop the temporary tables when you're done:
```sql
DROP TEMPORARY TABLE merged_data;
```
This will drop the temporary table `merged_data`, which is no longer needed once the merge sort is complete.

Note that this is just one possible way to implement a merge sort algorithm in Teradata. There may be other approaches that are more efficient or easier to understand, depending on your specific needs and the structure of your data.

In [ ]:
payload = json.dumps({
  "input": {
    "prompt": "<<SYS>>You are an expert matter communicatiing with SQL developers at advance level of abstraction<</SYS>>[INST]User: How to write in SQL the merge sort algorithm in Teradata[/INST]",
    "max_new_tokens": 10000,
    "temperature": 0.9,
    "top_k": 50,
    "top_p": 0.7,
    "repetition_penalty": 1.2,
    "batch_size": 8,
    "stop": [
      "</s>"
    ]
  }
})

In [ ]:
response = requests.request("POST", url, headers=headers, data=payload)

response_text = json.loads(response.text)

print(response_text['output'])

  As an expert matter communicator, I'll provide a high-level overview of how to implement the merge sort algorithm in SQL for Teradata. Please note that this is not a comprehensive implementation, but rather a simplified example to illustrate the basic principles.

1. Define the tables and columns:
Create two temporary tables, `tab1` and `tab2`, with the same schema as your original table. These tables will be used to store the left and right halves of the sorted data during the merge process.
```sql
CREATE TEMPORARY TABLE tab1 (
    id INT PRIMARY KEY,
    column1 VARCHAR(50),
    column2 DATE,
    -- Add any other relevant columns here
);

CREATE TEMPORARY TABLE tab2 (
    id INT PRIMARY KEY,
    column1 VARCHAR(50),
    column2 DATE,
    -- Add any other relevant columns here
);
```
2. Split the input table into two halves:
Write a query to split the original table into two equal parts based on some criteria (e.g., column value). For example:
```sql
SELECT * FROM mytable WHERE column = 'value1' INTO tab1;
SELECT * FROM mytable WHERE column = 'value2' INTO tab2;
```
3. Merge the two halves:
Write a series of queries to merge the two halves into a single, sorted table. The basic idea is to compare rows from the two halves and place the smaller one in the correct position in the final table. Here's an example of how to do this using a self-join:
```sql
-- Step 1: Sort the two halves by the comparison column
SELECT * FROM tab1 ORDER BY column1;
SELECT * FROM tab2 ORDER BY column1;

-- Step 2: Self-join the two sorted tables
SELECT t1.*, t2.*, ROW_NUMBER() OVER (ORDER BY column1) AS row_num
FROM tab1 t1
JOIN tab2 t2 ON t1.column1 = t2.column1;

-- Step 3: Drop the redundant columns and sort the final table
SELECT * FROM (
    SELECT t1.*, t2.*, ROW_NUMBER() OVER (ORDER BY column1) AS row_num
    FROM tab1 t1
    JOIN tab2 t2 ON t1.column1 = t2.column1
)
WHERE row_num = 1;
```
4. Clean up:
Drop the temporary tables `tab1` and `tab2`.
```sql
DROP TABLE tab1;
DROP TABLE tab2;
```
This is just a high-level overview of how to implement the merge sort algorithm in SQL for Teradata. Depending on your specific use case, you may need to modify the query or add additional steps. However, this should give you a good starting point for understanding the basic principles of the merge sort algorithm in SQL.